/* @media only screen and (max-width : 504px){
    .imgyui{
        display: none;
    }

.menu{
    visibility: visible;
}}
@media only screen and (min-width : 504px){
   
.menu{
    display: none;
}
} */
@keyframes op {
    from {
    opacity: 0;
    }
    to {
     opacity: 1;
    }
}