.slider {
    position: relative;
    width: 80vw;
    max-width: 900px;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0;padding: 0;
  }
  video {
 
    object-fit: cover;
    display: none;
    margin: 0;padding: 0;
  }
  video.active {
    display: block;
  }
  .nav-btn {
    position: absolute;
    top: 50%;
    color: white;
    background: rgba(0,0,0,0.5);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0 0px;
    user-select: none;
    transform: translateY(-50%);
  }
  .nav-btn.left {
    left: 10px;
  }
  .nav-btn.right {
    right: 10px;
  }

   .introvideos{ 
    display: flex; justify-content: center; align-items: center;
   }
   video{
    height: 100%;
    width : 100%;
   }
   @media only screen and (min-width:1140px){
  .introvideos{
    width: 40vw;
    margin-right: 30vw;
    margin-left: 30vw;

  }
   .hodoing{
    height: 95px;
  font-size: 34px;
font-family: cursive;
  width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;}
}
@media only screen and (min-width:750px ) and (max-width: 1140px){
     .introvideos{
    width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;

  }
  .hodoing{
    height: 75px;
    font-size: 27px;
    font-family: cursive;
    width: 60vw;
    margin-right: 20vw;
    margin-left: 20vw;
  }

}
@media only screen and (max-width:750px){
 .introvideos{
    width: 65vw;
    margin-right: 17.5vw;
    margin-left: 17.5vw;

  }
 .hodoing{
    height: 45px;
    font-size: 23px;
    font-family: cursive;
      width: 75vw;
    margin-right: 12.5vw;
    margin-left: 12.5vw;
  }}